= form_for(:replacement, :url => replacement_path, :html => {:class => "replacements"}) do |f|
  - if @replacement.errors.any?
    %p.errors Please fix the errors below

  %p.bold **Due to the supply chain issue, our replacement parts have a fulfillment lead time of 7-14 business days to ship out. We apologize for this inconvenience. Thank you for your patience.

  %p Contact your retailer for refunds or entire unit replacements.

  %ul
    %li
      \- Free replacement parts provided within 60 days of purchase date.
    %li
      \- Proof of purchase required from an authorized retailer.
    %li
      \- Replacement parts ship within the U.S.A. and Canada only.
    %li
      \- Replacement parts process and ship via UPS/FedEx/Post within 5-7 business days.
    %li
      \- Hardware ships via Post within 1-2 business days.
    %li
      \- Tracking# will be sent via email upon shipment.

  %fieldset.general
    %legend General Information (Required)
    .section
      = f.label :name
      = f.text_field :name, :size => "65"
      .errors
        = @replacement.errors[:name].to_sentence
    .section
      = f.label :address1, value: "Address"
      = f.text_field :address1, :size => "65"
      .errors
        = @replacement.errors[:address1].to_sentence
    .section
      = f.label :address2, value: "Address 2"
      = f.text_field :address2, :size => "65"
      .errors
        = @replacement.errors[:address2].to_sentence
    .section{"style": "line-height: 30px;"}
      = f.label :address_type, value: "Address Type"
      = f.select :address_type, options_for_select({"Select one" => nil, "Residential" => :residential, "Commercial" => :commercial},@replacement.address_type)
      .errors
        = @replacement.errors[:address_type].to_sentence

    %br.spacer
    .section
      = f.label :city
      = f.text_field :city, :size => "20"
      .errors
        = @replacement.errors[:city].to_sentence
    .section
      = f.label :state, :style => 'width: 40px'
      = f.text_field :state, :size => "2"
      .errors
        = @replacement.errors[:state].to_sentence
    .section
      = f.label :zip, :style => 'width: 20px'
      = f.text_field :zip, :size => "6"
      .errors
        = @replacement.errors[:zip].to_sentence
    .section
      = f.label :phone
      = f.text_field :phone, :size => "15"
      .errors
        = @replacement.errors[:phone].to_sentence
    .section
      = f.label :email, :style => 'width: 40px'
      = f.text_field :email, :size => "24"
      .errors
        = @replacement.errors[:email].to_sentence

  .helper.helper-item
  .helper.helper-control

  %fieldset.general
    %legend Purchase Information (Required)
    .section
      = f.label :retailer, value: "Authorized Retailer", :style => 'width: 120px'
      = f.text_field :retailer, :size => "20"
      .errors
        = @replacement.errors[:retailer].to_sentence
    .section
      .itemNumberLabel{:style => 'width: 100px'} Item No. [?]
      = f.text_field :itemno, :size => "20", :maxlength => "5", :placeholder => "5-digit number"
      .errors
        = @replacement.errors[:itemno].to_sentence
    .section
      .controlNumberLabel{:style => 'width: 120px'} Control No. [?]
      = f.text_field :controlno, :size => "20", :maxlength => "20"
      .errors
        = @replacement.errors[:controlno].to_sentence
    .section
      = f.label :purchase_date, value: "Purchase Date"
      = f.date_field :purchase_date, :value => @replacement.purchase_date
      .errors
        = @replacement.errors[:purchase_date].to_sentence
    .section
      = f.label :description, :style => 'width: 120px'
      = f.text_field :description, :size => "60"
      .errors
        = @replacement.errors[:description].to_sentence
    .section
      = f.label :proof_of_purchase, value: "Proof of Purchase", :style => 'width: 120px'
      = f.file_field :proof_of_purchase
      .errors
        = @replacement.errors[:proof_of_purchase].to_sentence

  .send_full_hardware_set
    .errors
      = @replacement.errors[:send_full_hardware_set].to_sentence
    = f.radio_button :send_full_hardware_set, "1", :checked => @replacement.send_full_hardware_set == "1"
    = f.label :send_full_hardware_set_1, "Request for full hardware set only"
    = f.radio_button :send_full_hardware_set, "0", :checked => @replacement.send_full_hardware_set == "0"
    = f.label :send_full_hardware_set_0, "Request for missing parts and/or hardware"
    .requiredMsg
      (Required)

  %fieldset.js-parts
    %legend.js-part-information Part Information
    .errors
      = @replacement.errors[:parts].to_sentence
    %table.js-part-table{"data-parts": @replacement.parts.to_json}
      %tr
        %th Part Letter
        %th Part Name
        %th Qty
        %th Reason
      - 3.times do |n|
        %tr
          %td
            %input{type: "text", name: "parts[letter][#{n}]", :size => "4"}
          %td
            %input{type: "text", name: "parts[name][#{n}]", :size => "25"}
          %td
            %input{type: "text", name: "parts[quantity][#{n}]", :size => "2"}
          %td
            %input{type: "text", name: "parts[reason][#{n}]", :size => "36"}

    %button.js-add-rows + Rows


  %fieldset
    %legend Comments (optional)
    = f.text_area :comments, :rows => 3, :cols => 70

  = f.submit :value => "Submit", data: { disable_with: "Sending" }
