%p For any inquiries, please fill out the form below. We would love to answer your questions!

= form_for(:inquiry, :url => submit_inquiry_path) do |f|
  = f.text_field :email, :placeholder => "Email"
  = f.text_field :name, :placeholder => "Name"
  = f.text_area :comments, :placeholder => "Enter your comments here"
  = f.submit

#addressdiv
  %address
    %strong USA OFFICE
    %a{:href => "http://maps.google.com/maps?q=16111+Woodinville-Redmond+Road+N.E.+Woodinville,+WA+98072-9046,+USA&oe=utf-8&client=firefox-a&hnear=16111+Woodinville+Redmond+Rd+NE,+Woodinville,+Washington+98072&gl=us&t=m&z=16&vpsrc=0", :target => "_blank"} (See Map)
    %br/
    16111 Woodinville-Redmond Road N.E.
    %br/
    Woodinville, WA 98072-9046, USA
    %br/
    Phone: 425-483-8888
    %br/
    Fax: 425-483-4141
  %address
    %strong CANADA OFFICE
    %a{:href => "http://maps.google.com/maps?q=108-8116+Alexander+Road+Delta,+British+Columbia+V4G+1C6,+Canada&oe=utf-8&client=firefox-a&hnear=8116+Alexander+Rd,+Delta,+Greater+Vancouver+Regional+District,+British+Columbia+V4G+1G7,+Canada&gl=us&t=m&z=16&vpsrc=0", :target => "_blank"} (See Map)
    %br/
    108-8116 Alexander Road
    %br/
    Delta, British Columbia V4G 1C6, Canada
    %br/
    Phone: 604-946-5888
    %br/
    Fax: 604-946-5899
