%p
  For replacement requests, see
  = link_to "Replacement Requests.", replacement_path
  For info on where to buy our products, see
  = link_to "Find Us.", find_path
  For other inquiries please fill out the form below. We would love to answer your questions!

= form_for(:comment, :url => contact_path) do |f|
  .section
    = f.label :subject
    = f.select :subject, options_for_select(Comment::SUBJECTS), include_blank: true
    .errors
      = @comment.errors[:subject].to_sentence
  .section
    = f.label :name
    = f.text_field :name
  .section
    = f.label :company, value: "Company (Optional)"
    = f.text_field :company
    .errors
      = @comment.errors[:name].to_sentence
  .section
    = f.label :email
    = f.text_field :email
    .errors
      = @comment.errors[:email].to_sentence
  .section
    = f.text_area :comments, :rows => 10, :cols => 70, :placeholder => "Enter your comments here"
    .errors
      = @comment.errors[:comments].to_sentence

  = f.submit :value => "Submit"

.addresses
  %address
    %strong USA OFFICE
    %a{:href => "http://maps.google.com/maps?q=16111+Woodinville-Redmond+Road+N.E.+Woodinville,+WA+98072-9046,+USA&oe=utf-8&client=firefox-a&hnear=16111+Woodinville+Redmond+Rd+NE,+Woodinville,+Washington+98072&gl=us&t=m&z=16&vpsrc=0", :target => "_blank"} (See Map)
    %br/
    16111 Woodinville-Redmond Road N.E.
    %br/
    Woodinville, WA 98072-9046, USA
    %br/
    Phone: 425-483-8888
    %br/
    Fax: 425-483-4141
  %address
    %strong CANADA OFFICE
    %a{:href => "http://maps.google.com/maps?q=108-8116+Alexander+Road+Delta,+British+Columbia+V4G+1C6,+Canada&oe=utf-8&client=firefox-a&hnear=8116+Alexander+Rd,+Delta,+Greater+Vancouver+Regional+District,+British+Columbia+V4G+1G7,+Canada&gl=us&t=m&z=16&vpsrc=0", :target => "_blank"} (See Map)
    %br/
    108-8116 Alexander Road
    %br/
    Delta, British Columbia V4G 1C6, Canada
    %br/
    Phone: 604-946-5888
    %br/
    Fax: 604-946-5899
