%div
  %h1 General Information
  %dl
    %dt
      Name:
    %dd
      = @replacement.name
    %dt
      Address:
    %dd
      = @replacement.address1
    %dt
      Address 2:
    %dd
      = @replacement.address2
    %dt
      Address type:
    %dd
      = @replacement.address_type
    %dt
      City:
    %dd
      = @replacement.city
    %dt
      State:
    %dd
      = @replacement.state
    %dt
      Zip:
    %dd
      = @replacement.zip
    %dt
      Phone:
    %dd
      = @replacement.phone
    %dt
      Email:
    %dd
      = @replacement.email

%div
  %h1 Purchase Information
  %dl
    %dt
      Authorized Retailer:
    %dd
      = @replacement.retailer
    %dt
      Purchase Date:
    %dd
      = @replacement.purchase_date
    %dt
      Description:
    %dd
      = @replacement.description

%div
  %h1 Item Information
  %dl
    %dt
      Item #:
    %dd
      = @replacement.itemno
    %dt
      Control #:
    %dd
      = @replacement.controlno

%div
  %h1 Parts
  %span.send_full_hardware_set
    Send full hardware set only:
    = @replacement.send_full_hardware_set == "1" ? "Yes" : "No"
  %table
    %tr
      %th Letter
      %th Name
      %th Quantity
      %th Reason
    - if @replacement.parts.present?
      - parts = JSON.parse(@replacement.parts)
      - parts["letter"].each do |k, v|
        %tr
          %td= parts["letter"]["" + k]
          %td= parts["name"]["" + k]
          %td= parts["quantity"]["" + k]
          %td= parts["reason"]["" + k]

%div
  %h1 Comments
  %span= @replacement.comments
