%li.item
  = link_to(image_tag("/images/200/#{item.images_200_px.first}"), item_path(item.itemno))
  %h3
    = link_to(item.description, item_path(item.itemno))
  %ul.meta
    %li
      %strong Item #:
      = item.itemno
    %li
      - if !item.kit?
        %li
          %strong Dimensions (W x D x H):
          %ul.dimensions
            %li= display_dimensions_imperial(item)
            %li= display_dimensions_metric(item)
  %ul.meta.extended
    %li
      %strong Category:
      = item.category
    %li
      %strong Collection:
      = display_collection(item)
