%li.item
  = link_to(image_tag("/images/200/#{item.images_200_px.first}", alt: item.description), item_path(item.itemno))
  %h3
    = link_to(item.description, item_path(item.itemno))
  %ul.meta
    %li
      %strong Item #:
      = item.itemno
    %li
      %strong Dimensions (W x D x H):
      %ul.dimensions
        - if item.sorted_valid_kits.length == 0
          %li
            %li= display_dimensions_imperial(item)
            %li= display_dimensions_metric(item)
        - if item.sorted_valid_kits.length > 0
          %li
            %ul.dimensions
              - item.sorted_valid_kits.each do |child|
                %li
                %strong= child.name
                = display_dimensions_imperial(child.item)
  %ul.meta.extended
    %li
      %strong Collection:
      = display_collection(item)
    %li
      %strong Finish:
      = item.finish
    %li
      %strong Material:
      = item.material
    %li
      %strong Assembly Required:
      = item.assembly? ? "Yes" : "No"
