%p
  = page_entries_info @items
= paginate @items

%ul.item-list
  - @items.each do |item|
    %li
      = link_to(image_tag("completeitemimages(200px)/#{item.images_200_px.first}"), item_path(item.itemno))
      %h3
        = link_to(item.description, item_path(item.itemno))
      %dl.meta
        %dt Item #
        %dd= item.itemno
        %dt UPC
        %dd= item.upc
        %dt Dimensions (W x D x H)
        %dd
          = display_dimensions_english(item)
          %br
          = display_dimensions_metric(item)

= paginate @items
