<main>
  <div class="show">
    <h1 class="mobile-on"><%= @item.description %></h1>
    <div class="images">
      <%= image_tag("/images/584/#{@item.itemno}.jpg", alt: @item.description, class: "large") %>
      <div class="thumbnails">
        <% if @scan_filesystem_images.size > 1 %>
          <% @scan_filesystem_images.each do |image| %>
            <%= image_tag("/images/584/#{image}", class: "small", "data-large-src": "/images/584/#{image}") %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div>
      <div class="item">
        <h1 class="mobile-off"><%= @item.description %></h1>
        <ul class="main-meta">
          <div class="item-number">Item # <%= @item.itemno %></div>
          <li>
            <strong>Assembly Required:</strong>
            <%= @item.assembly? ? "Yes" : "No" %>
          </li>
          <li>
            <strong>Finish:</strong>
            <%= @item.finish %>
          </li>
          <li>
            <strong>Material:</strong>
            <%= @item.material %>
          </li>
          <li>
            <strong>Category:</strong>
            <%= @item.category %>
          </li>
          <li>
            <strong>Collection:</strong>
            <%= @item.collection %>
            <%= link_to "View collection", items_path(:collection => @item.collection), class: "view-collection" if @show_collection_link%>
          </li>
          <li class="dimensions">
            <strong>Dimensions (W x D x H):</strong>
            <% if !@item.kit? %>
              <%= display_dimensions(@item) %>
            <% else %>
              <% @item.sorted_valid_kits.each do |kit| %>
                <div><%= kit.name %> - <%= display_dimensions(kit.item) %></div>
              <% end %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="desktop-only">
        <%= render :partial => "show_related_items", locals: {:item => @item} %>
      </div>
    </div>
  </div>
</main>
<div class="desktop-off related-items">
  <%= render :partial => "show_related_items", locals: {:item => @item} %>
</div>
<div class="items-section other-items-section">
  <div class="flex-section-header">
    <h3>Other related products</h3>
    <%= link_to "View all #{@item.category} products", items_path(:category => @item.category), class: "mobile-off" %>
  </div>
  <div class="items-grid">
    <% Item.where('lower(category) = ?', @item.category.downcase).order("description").first(4).each do |item| %>
      <%= render :partial => "item", locals: {:item => item} %>
    <% end %>
  </div>
  <div class="flex-section-header">
    <%= link_to "View all #{@item.category} products", items_path(:category => @item.category), class: "mobile-on" %>
  </div>
</div>