.show
  .images
    .help
      Click image for a closer look
    %div
      = link_to(image_tag("completeitemimages(584px)/#{@item.images_584_px.first}", :class => "large"), image_path("completeitemimages(584px)/#{@item.images_584_px.first}"))
    .thumbnails
      - if @item.images_200_px.size > 1
        - @item.images_200_px.each do |image|
          = link_to(image_tag("completeitemimages(200px)/#{image}", :class => "small"), image_path("completeitemimages(584px)/#{image}"), rel: "fancybox-thumb", :class => 'fancybox-thumb', :title => @item.description)
    .color_disclaimer
      The color you see may not exactly match the product color, and may depend, in part, upon the monitor you are using.

  .item
    %h2
      = @item.description

    %ul.meta
      %li
        %strong Item #:
        = @item.itemno
      %li.dimensions
        %strong Dimensions (W x D x H):
        %ul.dimensions
          %li= display_dimensions_english(@item)
          %li= display_dimensions_metric(@item)
          %li Product dimensions are approximate
      %li
        %strong Assembly Required:
        = @item.assembly? ? "Yes" : "No"
      %li
        %strong Finish:
        = @item.finish
      %li
        %strong Material:
        = @item.material

    %ul.meta
      %li
        %strong Category:
        = @item.category
      %li
        %strong Collection:
        = @item.collection

    %hr.spacer

    - if @item.kit?
      %h3 Set components
      %ul.components
        - @item.set_components.each do |child|
          %li.spacer
            = link_to(image_tag("completeitemimages(200px)/#{child.images_200_px.first}", :class => 'small'), item_path(child.itemno))
            = link_to("#{child.description} | #{child.itemno}", item_path(child.itemno))

      %hr

    .related_links
      = link_to "View all #{@item.collection} products", items_path(:collection => @item.collection) if @item.collection.present?
      = link_to "View all #{@item.category} products", items_path(:category => @item.category) if @item.category.present?
