.show
  .images
    .help
      Click image for a closer look
    %div
      = link_to(image_tag("/images/584/#{@item.images_584_px.first}", :class => "large"), image_path("/images/584/#{@item.images_584_px.first}"), "data-fancybox-trigger": "gallery", "data-turbolinks": "false", href: "javascript:;")
    .thumbnails
      - if @item.images_200_px.size > 1
        - @item.images_200_px.each do |image|
          = link_to(image_tag("/images/200/#{image}", :class => "small"), image_path("/images/584/#{image}"), "data-fancybox": "gallery", "data-turbolinks": "false", :title => @item.description)
    .color_disclaimer
      The color you see may not exactly match the product color, and may depend, in part, upon the monitor you are using.

  %div
    .item
      %h2
        = @item.description

      %ul.main-meta
        %li
          %strong Item #:
          = @item.itemno
        - if !@item.kit?
          %li.dimensions
            %strong Dimensions (W x D x H):
            %ul.dimensions
              %li= display_dimensions_imperial(@item)
              %li= display_dimensions_metric(@item)
              %li Product dimensions are approximate
        %li
          %strong Assembly Required:
          = @item.assembly? ? "Yes" : "No"
        %li
          %strong Finish:
          = @item.finish
        %li
          %strong Material:
          = @item.material

      %ul.main-meta
        %li
          %strong Category:
          = @item.category
        %li
          %strong Collection:
          = display_collection(@item)

    %hr.spacer

    - if @item.kit?
      %h3 Set components
      %ul.components
        - @item.set_components.each do |child|
          = render :partial => "item", :locals => {:item => child}

      %hr

    - if @item.parent_kits.present?
      %h3 Parent Sets
      %ul.parent_sets
        - @item.parent_kits.each do |parent|
          = render :partial => "item", :locals => {:item => parent}

      %hr

    %ul.related_links
      %li
        = link_to "View all #{@item.collection} products", items_path(:collection => @item.collection) if @item.collection.present?
      %li
        = link_to "View all #{@item.category} products", items_path(:category => @item.category) if @item.category.present?
